.App {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.App > div {
  margin: 3em;
  flex : 1;
  border: solid 1px #ccc;
  padding: 1em;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list li{
  cursor: pointer;
}

.user-list li:hover{
  color: rgb(33, 83, 221)
}